/*重置样式*/
html,body,ul,li,ol{
	padding:0;
	margin:0;
}
a{
	text-decoration:none;
}
ul,ol,li{
    list-style: none;
}
body{
    height: 2000px;
}
/*banner 横幅*/
.banner{
	width:100%;
	height:100px;
	background: #ccc;
}
.banner img{
	width:100%;
	height:100%;
}


/*header 头部*/
.header{
	width:100%;
	height:40px;
	background:rgb(51,51,51);
	line-height:40px;
	position: relative;
    font-size:12px;

}
.nav{
	width:1226px;
	height:100%;
	/*background: red;*/
	margin:0 auto;
    /*background: #424242;*/
}
.nav-list{
	float:left;
}
.nav-list a,.nav-info a{
	height:40px;
    cursor:pointer;
    color:#b0b0b0;
}
.nav-list a:hover,.nav-info a:hover{
    color:#fff;
}
.nav-list{
	float:left;
}
.nav-info{
	/*margin-left:915px;*/
    float: right;
    padding-right: 20px;
}

.nav-gwc{
    float: right;
    height: 40px;
    width: 120px;
}
.nav-gwc a{
    position: relative;
    z-index: 32;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #b0b0b0;
    background: #424242;
}
.header .nav .nav-gwc:hover a{
    cursor:pointer;/*手指*/
    color:#ff6700;
}
.header_site{
	width: 1226px;
    margin-right: auto;
    margin-left: auto;
	position: relative;
    z-index: 20;
    height: 100px;
}
.header_logo {
    float: left;
    width: 62px;
    margin-top: 22px;
}
.header_nav {
    float: left;
    width: 850px;
}
.header_nav a:hover{
    color:#ff6700;
}
.header_nav ul{
    position: relative;
    z-index: 10;
    float: left;
    width: 820px;
    height: 88px;
    margin: 0;
    margin-left: 55px;
    padding: 0 0 0 30px;
    list-style-type: none;
    font-size: 16px;
}
.header_nav li{
	float: left;
    display: list-item;
    text-align: -webkit-match-parent;
}
.header_nav li a{
    display: block;
    padding: 26px 10px 38px;
    color: #333;
}

.header_search{
    width:296px;
    height:50px;
    float:right;
    /*background: #eee;*/
    margin-top:25px;
    position: relative;
}
.search_text{
    width:223px;
    height:48px;
    border:1px solid #e0e0e0;
    outline:0;
}
.search_btn{
    width:52px;
    height:52px;
    border:1px solid #e0e0e0;
    position: absolute;
    right:19px;
    outline:0;
    cursor:pointer;
    background: #fff;
    border-left:none;
}

.search_hotworld{
    position: absolute;
    left:90px;
    top:-11px;
    font-size: 12px;
    height:50px;
    /* background: #ccc; */
    line-height: 50px;  
    color: #757575;
}
.search_hotworld span{
    /*display: inline-block;*/
    margin:0 3px;
    background: #eee;
    padding:0 4px;
    transition:all .5s;
}
.search_hotworld span:hover{
    background-color:#ff6700;
    color:#fff;
    cursor:pointer;
}
.header_search .search_btn:hover{
    background-color:#ff6700;
    color:#fff;
    cursor:pointer;
}
/*main轮播*/
.main_scroll{
    width: 100%;
    height: 460px;
    overflow: hidden;
    padding-top: 10px; 
    /*background: #ccc;*/
}
.main_scroll_content{
    width: 1226px;
    height: 100%;
    margin:0 auto;
    position: relative;
}
.main_scroll_left{
    width: 234px;
    height: 100%;
    background: rgba(0,0,0,0.6);
    color: #424242;
    padding: 20px 0;
    box-sizing: border-box;
}
.main_scroll_left a{
    font-size: 14px;
    color: #fff;
}
.main_scroll_left_list{
    height: 420px;
}
.main_scroll_left_list li{
    width: 100%;
    height: 42px;
    line-height: 42px;
    padding-left: 30px;
    box-sizing: border-box;
    position: relative; 
}
.main_scroll_left_list li:hover{
    background:#ff6700;
    cursor:pointer;
}
.main_scroll_left_list li a:nth-child(3){
    position: absolute;
    right: 24px;
}
.main_scroll_right{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -999;
}
.main_scroll_right img{
    width: 100%;
    height: 100%;
}
.main_scroll_dots{
    position: absolute;
    right: 30px;
    bottom: 18px;
}

.main_scroll_dots ul li{
    width: 6px;
    height: 6px;
    border: 2px solid rgba(255,255,255,0.3);
    background: rgba(0,0,0,0.4);
    border-radius: 50%;
    display: inline-block;
    margin: 0 4px;
    cursor: pointer;
}
.main_scroll_dots ul li:first-child{
    background: rgba(255,255,255,0.4);
    border: 2px solid rgba(0,0,0,0.4);
}

/*main的品牌*/
.main_coin{
    width: 100%;
    height: 170px;
    margin-top: 14px;
}
.main_coin_content{
    width: 1226px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.main_coin_left{
    width: 234px;
    height: 170px;
    padding: 3px;
    box-sizing: border-box;
    background: #5f5750;
}
.main_coin_left a{
    color: rgba(255,255,255,0.7);
}
.main_coin_left ul li{
    width: 70px;
    height: 82px;
    display: inline-block;
    text-align: center;
    padding: 18px 0;
    box-sizing: border-box;
    position: relative;
}
.main_coin_left ul li i{
    font-size:24px;
}
.main_coin_left ul li span{
    font-size: 12px;
}
.main_coin_left ul li:hover a{
    color: #fff;
}
.main_coin_left ul .main_coin_left_1:after{
    content: '';
    display: inline-block;
    width: 64px;
    height: 1px;
    background: #665e57;
    position: absolute;
    left: 0px;
    top: 82px;
}
.main_coin_left ul .main_coin_left_2:before{
    content: '';
    display: inline-block;
    width: 1px;
    height: 70px;
    background: #665e57;
    position: absolute;
    left: -3px;
    top: 5px;
}
.main_coin_left ul .main_coin_left_2:after{
    content: '';
    display: inline-block;
    width: 1px;
    height: 70px;
    background: #665e57;
    position: absolute;
    left: 73px;
    top: 5px;
}
.main_coin_left_3{
    border-bottom: 1px solid #665e57;
    
}

.main_coin_right{
    width: 978px;
    height: 170px;
    position: absolute;
    right: 0;
    top: 0;
}
.main_coin_right ul{
    width: 100%;
    height: 100%;
}
.main_coin_right ul li{
    width: 316px;
    height: 170px;
    overflow: hidden;
    float: left;
}
.main_coin_right ul li:nth-child(2){
    margin: 0 15px; 
}
.main_coin_right ul li img{
    width: 100%;
    height: 100%;
}

/*main的闪购*/
.main_plain{
    width: 1226px;
    height: 438px;
    margin: 36px auto;
}
.main_plain_top{
    width: 100%;
    height: 58px;
    /*background: red;*/
    line-height: 58px;
}
.main_plain_top>h2{
    margin: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    /*color: #333;*/
}
.main_plain_qh{
    margin-top: -60px;
    float: right;
    position: relative;
    color: #e0e0e0;
}
.main_plain_qh>span{
    display: inline-block;
    width: 24px;
    height: 16px;
    padding: 3px 5px;
    border: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
}
.main_plain_qh>span:nth-child(2){
    position: relative;
    left: -5px;
    top: 0;
    border-left: none;
    color: #b4afae;
}
.main_plain_bottom{
    width: 1226px;
    height: 340px;
    /*background: #ccc;*/
}
.main_plain_bottom_times{
    width: 234px;
    height: 340px;
    border-top:1px solid #e53935;
    box-sizing: border-box;
    background: #f1eded;
    text-align: center;
    float: left;
}
.main_plain_bottom_times>p:first-child{
    color: #ef3a3b;
    font-size: 21px;
    padding-top: 28px;
}
.main_plain_bottom_times>p:nth-child(3){
    color: rgba(0,0,0,0.54);
    font-size: 15px;
    padding-top: 28px;
}
.main_plain_bottom_times>p:nth-child(4) .times{
    display: inline-block;
    width: 46px;
    height: 46px;
    background: #605751;
    color: #fff;
    font-size: 24px;
    line-height: 46px;
}
.main_plain_bottom_times>p:nth-child(4) .gap{
    display: inline-block;
    width: 6px;
    height: 46px;
    color: #605751;
    line-height: 46px;
}
.main_plain_bottom1{
    width: 234px;
    height: 340px;
    border-top: 1px solid #ffac13;
    box-sizing: border-box;
    background: #fff;
    float: left;
    margin-left:14px;
    text-align: center;
}
.main_plain_bottom1 img{
    width: 160px;
    height: 160px;
    margin-top: 44px;
}
.main_plain_bottom1>p:first-of-type{
    color: #212121;
    font-size: 14px;
    font-weight: 400;
}
.main_plain_bottom1>p:nth-of-type(2){
    width: 194px;
    height: 18px;
    color: #b0b0b0;
    margin: 0 auto;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.main_plain_bottom1>p:nth-of-type(3){
    color:#ff6709;
    font-size: inline-block;
    margin-left: 8px;
}
.main_plain_bottom1>p:nth-of-type(3)>del{
    color: #b0b0b0;
    display: inline-block;
    margin-left: 8px;
}

/*小米广告*/
.xiaomiAd{
    width: 100%;
    height: 120px;
    margin-top: -33px;
}
.xiaomiAd1{
    width: 100%;
    height: 120px;
    margin-top: 26px;
}
.xiaomiAd img,.xiaomiAd1 img{
    display: block;
    width: 1226px;
    height: 100%;
    margin: 0 auto;
}

/*小米商品*/
.shops{
    width: 100%;
    min-height: 1000px;
    background: #f5f5f5;
    margin-top: 42px;
    padding-top: 22px;
}
.shops_phone,.shops_jd{
    width: 1226px;
    height: 686px;
    margin: 0 auto;
}
.shops_phone_top,.shops_jd_top1{
    width: 100%;
    height: 58px;
    line-height: 58px;
}
.shops_phone_top>div:first-child,.shops_jd_top>div:first-child{
    float: left;
    color: #333;
    font-size: 22px;
    font-weight: 200;
}
.shops_phone_top>div:last-child,.shops_jd_top>div:last-child{
    float: right;
    color: #333;
    font-weight: 14;
}
.shops_phone_top>div:last-child>span:last-child{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 8px;
    border-radius: 50%;
    font-size: 1px;
    line-height: 20px;
    background: #b0b0b0;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.shops_phone_bottom{
    width: 100%;
    height: 614px;
}
.shops_phone_bottom_left{
    width: 234px;
    height: 614px;
    transition: all 0.3s;
    float: left;
    margin-right: 12px;
}
.shops_phone_bottom_left>img{
    width: 100%;
    height: 100%;
}
.shops_phone_bottom_left:hover{
    cursor: pointer;
    transform: translate3d(0,-2px,0);
}
.shops_phone_bottom_right{
    float: left;
    width: 980px;
}
.shops_phone_bottom_right1{
    width: 234px;
    height: 300px;
    background: #fff;
    transition: all 0.3s;
    text-align: center;
    float: left;
    margin-right: 10px;
    margin-bottom: 14px;
}
.shops_phone_bottom_right1 img{
    width: 160px;
    height: 160px;
    margin-top: 20px;
}
.shops_phone_bottom_right1>p:first-of-type{
    color: #333;
    font-size: 14px;
    font-weight: 400px;
}
.shops_phone_bottom_right1>p:nth-of-type(2){
    color: #b0b0b0;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 214px;
    margin: 0 auto;
}
.shops_phone_bottom_right1>p:nth-of-type(3){
    color: #ff6709;
    font-size: 14px;
}
.shops_phone_bottom_right1:hover{
    cursor: pointer;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0,-4px,0);
}

/*小米家电商品*/
.shops-jd{
    width: 1226px;
    height: 686px;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;;
}
.shops-jd-top1{
    width: 100%;
    height: 30px;
}
.shops-jd-top>div:first-child{
    float: left;
    color: #333;
    font-size: 22px;
    font-weight: 200;
    margin-top: 25px;
}
.shops-jd-top>div:last-child{
    width: 280px;
    font: right;
    color: #333;
    font-size: 16px;
    position: absolute;
    right: 0;
    top: 20px;
    box-sizing: border-box;
}
.shops-jd-top>div:last-child>span{
    margin-right: 24px;
    cursor: pointer;
}
.shops-jd-top>div:last-child>span:first-child{
    color:#ff6700;
    display: inline-block;
    padding-bottom: 4px;
    border-bottom: 2px solid #ff6700;
}
.shops-jd-bottom{
    width: 100%;
}
.shops-jd-bottom1{
    width: 234px;
    height: 300px;
    background: #fff;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    transition: all .3s;
    float: left;
    margin-left:12px;
    margin-top:10px;
}
.shops-jd-bottom2{
    width: 234px;
    height: 145px;
    background: #fff;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    transition: all .3s;
    float: left;
    margin-left:12px;
    margin-top:10px;
}
.shops-jd-bottom2 img{
    width: 88px;
    height: 88px;
    margin-top: 25px;
}
.shops-jd-bottom2_left{
    width: 100px;
    height: 70px;
    /*background: #ccc;*/
    margin: 35px 5px 35px 15px;
}
.shops-jd-bottom2_left,.shops-jd-bottom2_right{
    display: block;
    float: left;
}
.shops-jd-bottom2_left>p:first-child{
    font-size:14px;
}
.shops-jd-bottom2_left>p:nth-child(2) {
    font-size: 14px;
    color: #ff6700;
}
.shops-jd-bottom1>p:first-child{
    width: 64px;
    height: 20px;
    background: #e53935;
    margin: 10px auto;
    color: #fff;
    font-size:12px;
    text-align: center;
    line-height: 20px;
}
.shops-jd-bottom1>p:nth-child(2) {
    display: inline-block;
    margin-top: -12px;
}
.shops-jd-bottom1>p:nth-child(2) img {
    width: 150px;
    height: 150px;
}
.shops-jd-bottom1>p:nth-child(3){
    color: #333;
    font-size: 14px;
}
.shops-jd-bottom1>p:nth-child(4){
    font-size: 12px;
    color: #b0b0b0;
}
.shops-jd-bottom1>p:nth-child(5){
    font-size: 14px;
    color: #ff6700;
}
.shops-jd-bottom1>p:nth-child(5)>del:last-child{
    font-size: 14px;
    color:#b0b0b0;
}
.shops-jd-bottom1-show{
     position: absolute;
     width: 234px;
     height: 75px;
     background:#ff6700;
     color: #fff;
     font-size:12px;
    text-align: border-box;
    padding: 0 25px;
    top: 300px;
    transition: all .3s;
    
}
.shops-jd-bottom1-show p:last-child{
    color:rgba(255,255,255,0.6);
}
.shops-jd-bottom1:hover .shops-jd-bottom1-show{
    top:225px;
}
.shops-jd-bottom1:hover,.shops-jd-bottom2:hover{
    cursor: pointer;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0,-4px,0);
}
.shops-jd-bottom-left img{
    width: 234px;
    height: 300px;
    float: left;
    transition: all .3s;
    margin-top:10px;

}
.shops-jd-bottom-left img:hover{
    cursor: pointer;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0,-4px,0);

}

/*热评商品*/
.shops-rp{
    width: 1226px;
    height: 495px;
    /*background: #ddd;*/
    margin: 0 auto;
    margin-top: 20px;
}
.shops-rp-top{
    width: 100%;
    height: 58px;
    line-height: 50px;
}
.shops-rp-top>div:first-child{
    float: left;
    color: #333;
    font-size: 22px;
    font-weight: 200;
}
.shops-rp-bottom{
    width: 100%;
    height: 614px;
}
.shops-rp-bottom-right{
    float: left;
    width: 100%;
}
.shops-rp-bottom-right1{
    width: 296px;
    height: 415px;
    background: #fff;
    transition: all .3s;
    float: left;
    margin-right: 10px;
    margin-bottom: 14px;
}
.shops-rp-bottom-right1>img{
    width: 296px;
    height: 220px;
}
.shops-rp-bottom-right1>p:first-of-type{
    color: #333;
    font-size: 14px;
    font-weight: 400px;
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
}
.shops-rp-bottom-right1>p:nth-of-type(2){
    color: #b0b0b0;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 214px;
    margin-top: 25px;
    margin-left: 25px;
}
.shops-rp-bottom-right1>p:nth-of-type(3){
    margin-left: 25px;
}
.shops-rp-bottom-right1>p:nth-of-type(3)>span:nth-of-type(1){
    font-size: 14px;
    color: #333;
}
.shops-rp-bottom-right1>p:nth-of-type(3)>span:nth-of-type(2){
    font-size: 14px;
    margin-left: 8px;
    color: #e0e0e0;
}
.shops-rp-bottom-right1>p:nth-of-type(3)>span:nth-of-type(3){
    margin-left: 8px;
    color: #ff6700;
    font-size: 14px;
}
.shops-rp-bottom-right1:hover{
    cursor: pointer;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0,-2px,0);
}

/*小米内容商品*/
.shops_container{
    width: 1226px;
    height: 500px;
    margin: 0 auto;
    margin-top: 22px;
}
.shops_container1,.shops_container2{
    width: 296px;
    height: 420px;
    float: left;
    box-sizing: border-box;
    border-top: 1px solid #ffac13;
    text-align: center;
    color: #ffac13;
    background: #fff;
    position: relative;
    transition: all 0.3s;
    margin-bottom: 14px;
}
.shops_container2{
    margin-left: 14px;
    margin-bottom: 14px;
}
.shops_container1>span:nth-of-type(1),.shops_container2>span:nth-of-type(1){
    display: inline-block;
    margin-top: 42px;
}
.shops_container1>span:nth-of-type(2),.shops_container2>span:nth-of-type(2){
    color: #333;
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
    margin-top: 22px;
}
.shops_container1>span:nth-of-type(3),.shops_container2>span:nth-of-type(3){
    color: #b0b0b0;
    font-size: 12px;
    display: inline-block;
    margin: 0 auto;
    margin-top: 10px;
    width: 200px;
}
.shops_container1>span:nth-of-type(4),.shops_container2>span:nth-of-type(4){
    color: #333;
    font-size: 14px;
    display: inline-block;
    margin-top: 22px;
}
.shops_container1>img,.shops_container2>img{
    width: 216px;
    height: 154px;
    margin-top: 22px;
}
.shops_container1>ul,.shops_container2>ul{
    position: absolute;
    left: 108px;
    bottom: 16px;
}
.shops_container1>ul>li,.shops_container2>ul>li{
    width: 6px;
    height: 6px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    background-color: #b0b0b0;
    display: inline-block;
    margin-right: 18px;
}
.shops_container1>ul>li:first-child,.shops_container2>ul>li:first-child{
    width: 6px;
    height: 6px;
    border-color: #ff6700;
    background-color: transparent;
}
.shops_container1>div,.shops_container2>div{
    width: 100%;
    position: absolute;
    top: 186px;
    display: none;
}
.shops_container1>div>span,.shops_container2>div>span{
    display: inline-block;
    width: 20px;
    height: 24px;
    padding: 12px 0;
    font-size: 18px;
    line-height: 24px;
    color: #fafafa;
    background: rgba(66,66,66,0.2);
    cursor: pointer;
    float: left;
    transition: all 0.3s;
}
.shops_container1>div>span:last-child,.shops_container2>div>span:last-child{
    float: right;
}
.shops_container1:hover,.shops_container2:hover{
    cursor: pointer;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0,-4px,0);
}
.shops_container1:hover div,.shops_container2:hover div{
    cursor: pointer;
    display: block;
}
.shops_container1>div>span:hover,.shops_container2>div>span:hover{
    background: #b0b0b0;
}

/*小米手机视频*/
.radio{
    width: 1226px;
    height: 388px;
    margin: 0 auto;
    margin-top: 20px;
}
.radio_top{
    width: 100%;
    height: 58px;
    line-height: 58px;
}
.radio_top>div:first-child{
    float: left;
    color: #333;
    font-size: 22px;
    font-weight: 200;
}
.radio_top>div:last-child{
    float: right;
    color: #333;
    font-weight: 14;
}
.radio_top>div:last-child>span:last-child{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 8px;
    border-radius: 50%;
    font-size: 1px;
    line-height: 20px;
    background: #b0b0b0;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.radio_bottom{
    width: 1226px;
    height: 285px;
    margin: 0 auto;
    position: relative;
}
.radio_bottom_show{
    width: 295px;
    height: 285px;
    background: #fff;
    transition: all 0.3s;
    text-align: center;
    float: left;
    margin-right: 10px;
    margin-bottom: 14px;
    position: relative;
}
.radio_bottom_show>span{
    position: absolute;
    left: 18px;
    bottom: 110px;
    height: 40px;
    width: 40px;
}
.radio_bottom_show i{
    font-size: 30px;
    color: #fff;
    background: rgba(0,0,0,0.05);
}
.radio_bottom_show img{

    width: 295px;
    height: 180px;
}
.radio_bottom_show>p:first-of-type{
    color: #333;
    font-size: 14px;
    font-weight: 400;
}
.radio_bottom_show>p:nth-of-type(2){
    color: #b0b0b0;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 214px;
    margin: 0 auto;
}
.radio_bottom_show:hover{
    cursor: pointer;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0,-4px,0);
}
.radio_bottom_show:hover>span>i{
    color: #ff8c00;
}
/*小米侧边栏导航*/
.aside{
    width: 26px;
    height: 160px;
    position: fixed;
    right: 30px;
    bottom: 250px;
    background-color: #fff;
}
.aside_personal{
    width: 26px;
    height: 40px;
    background: url(../images/aside1.png) 0 0 no-repeat;
    background-size: 20px 20px;
    background-position: 3px 10px;
    box-sizing: border-box;
    border: 1px solid #f5f5f5;
    position: relative;
}
.aside_talking{
    width: 26px;
    height: 40px;
    background: url(../images/aside3.png) 0 0 no-repeat;
    background-size: 20px 20px;
    background-position: 3px 10px;
    box-sizing: border-box;
    border: 1px solid #f5f5f5;
    position: relative;
}
.aside_gwc{
    width: 26px;
    height: 40px;
    background: url(../images/aside5.png) 0 0 no-repeat;
    background-size: 20px 20px;
    background-position: 3px 10px;
    box-sizing: border-box;
    border: 1px solid #f5f5f5;
    position: relative;
}
.aside_personal_show,.aside_talking_show,.aside_gwc_show{
    position: absolute;
    width: 84px;
    height: 25px;
    left: -98px;
    top: 8px;
    line-height: 25px;
    text-align: center;
    background: #fff;
    border: 1px solid #f5f5f5;
    display: none;
}
.aside_personal_show img,.aside_talking_show img,.aside_gwc_show img{
    position: absolute;
    right: -6px;
    top: 6px;
}
.aside_personal:hover{
    background-image: url(../images/aside2.png);
}
.aside_talking:hover{
    background-image: url(../images/aside4.png);
}
.aside_gwc:hover{
    background-image: url(../images/aside6.png);
}
.aside_personal:hover .aside_personal_show{
    display: block;
}
.aside_talking:hover .aside_talking_show{
    display: block;
}
.aside_gwc:hover .aside_gwc_show{
    display: block;
}
.aside_top{
    display: block;
    width: 26px;
    height: 40px;
    background: url(../images/totop1.png) 0 0 no-repeat;
    background-size: 20px 20px;
    background-position: 3px 10px;
    box-sizing: border-box;
    border: 1px solid #f5f5f5;
    position: relative;
    bottom: 0;
}
.aside_top_show{
    position: absolute;
    width: 84px;
    height: 25px;
    left: -98px;
    top: 8px;
    line-height: 25px;
    text-align:center;
    background: #fff;
    border: 1px solid #f5f5f5;
    display: none;
}
.aside_top_show img{
    position: absolute;
    right: -6px;
    top: 6px;
}
.aside_top:hover{
    cursor: pointer;
    background-image:  url(../images/totop2.png);
}
.aside_top:hover .aside_top_show{
    display: block;
}

/*小米尾部区域*/
.footer{
    width:100%;
    background: #fff;
}
.footer_top{
    width:1226px;
    height:25px;
    padding:27px 0;
    margin:0 auto;
    /*background: #ccc;*/
    border-bottom:1px solid #e0e0e0;
}
.footer_top>div{
    float:left;
    width:20%;
    height:25px;
    box-sizing:border-box;
    border-right:1px solid #e0e0e0;
    color:#616161;
    font-size:16px;
    line-height:25px;
    text-align:center;
}
.footer_top>div:last-child{
    border-right:none;
}
.footerctop>div>i{
    font-size:24px;
}
.footer_bottom{
    width:1226px;
    margin:0 auto;

}
.footer_bottom_left{
    width:980px;
    height:174px;
    /*background: #ccc;*/
    box-sizing:border-box;
    overflow:hidden;
    float:left;
}
.footer_bottom_left1{
    margin:34px 0;
    margin-bottom:40px;
}
.footer_bottom_left1 li{
    float:left;
    width:160px;
    font-size:14px;
    color:#424242;
    margin-bottom:14px;
}
.footer_bottom_left2{
    font-size:12px;
    color:#757575;
    margin-top:10px;
}
.footer_bottom_left2 li{
    float:left;
    width:160px;
    margin-top:10px;
}
#footer_bottom_left_gap{
    box-sizing:border-box;
    width:100%;
    height: 112px;
    border-right:1px solid #e0e0e0;
}
.footer_bottom_right{
    float:right;
    width: 246px;
    height: 112px;
    text-align: center;
    color: #ff6700;
    font-size:22px;
    box-sizing:border-box;
}
.footer_bottom_right>p:nth-child(2){
    font-size:12px;
    color:#616161;
}
.footer_bottom_right>p:nth-child(3){
    font-size:12px;
    color: #ff6700;
    width:118px;
    height:28px;
    margin:0 auto;
    border:1px solid #ff6700;
    line-height:28px;
    cursor:pointer;
    transition:all .3s;
}
.footer_bottom_right>p:nth-child(3):hover{
    color:#fff;
    background: #ff6700;
}

/*小米网站信息区域*/
.info{
    width:100%;
    height:135px;
    padding:30px 0;
    background: #fafafa;
}
.info1{
    width:1226px;
    margin:0 auto;
}
.info1>p{
    margin:0;
    float:left;
}
.info1>p:first-child{
    width:57px;
    height:57px;
    margin-right:8px;
    background: url(../images/logo-mi.png) 0 0 no-repeat;
}
.info1>p:nth-child(2){
    color:#757575;
    font-size:12px;
}
.info1>p:nth-child(3){
    color:#b0b0b0;
    font-size:12px;
}
.info2{
    width:1226px;
    margin: 0 auto;
}
.info2 img:first-child{
    height:28px;
}
.info2>div{
    width:442px;
    float:right;
}
.info3{
    width:1226px;
    height:20px;
    margin:0 auto;
    margin-top:30px;
    background: url(../images/2018.png) center 0 no-repeat;
}

